#!/bin/bash

NUBIS_PROJECT=$(nubis-metadata NUBIS_PROJECT)
NUBIS_ENVIRONMENT=$(nubis-metadata NUBIS_ENVIRONMENT)
NUBIS_REGION=$(nubis-region)

KV_PREFIX="$NUBIS_PROJECT/$NUBIS_ENVIRONMENT/traefik/config"

if [ "$NUBIS_ENVIRONMENT" != "" ]; then
  consulate kv set "$KV_PREFIX/EnvironmentName" "$NUBIS_ENVIRONMENT"
else
  consulate kv rm "$KV_PREFIX/EnvironmentName"
fi

NUBIS_MON_DOMAIN="<%= @traefik_dns %>.$NUBIS_ENVIRONMENT.$NUBIS_REGION.$(nubis-metadata NUBIS_ACCOUNT).$(nubis-metadata NUBIS_DOMAIN)"
consulate kv set "$KV_PREFIX/MonDomain" "$NUBIS_MON_DOMAIN"

FEDERATION_PASSWORD=$(consulate kv get "$KV_PREFIX/Federation/Password")
if [ "$FEDERATION_PASSWORD" == "None" ]; then
  FEDERATION_PASSWORD=$(apg -m 16 -n1)
  FEDERATION_HTPASSWORD=$(htpasswd -nb federation "$FEDERATION_PASSWORD")

  consulate kv set "$KV_PREFIX/Federation/Password" "$FEDERATION_PASSWORD"
  consulate kv set "$KV_PREFIX/Federation/HTPassword" "$FEDERATION_HTPASSWORD"
fi

ADMIN_PASSWORD=$(consulate kv get "$KV_PREFIX/admin/Password")
if [ "$ADMIN_PASSWORD" == "None" ]; then

  ADMIN_PASSWORD=$(apg -m 16 -n1)
  ADMIN_HTPASSWORD=$(htpasswd -nb admin "$ADMIN_PASSWORD")

  consulate kv set "$KV_PREFIX/Admin/Password" "$ADMIN_PASSWORD"
  consulate kv set "$KV_PREFIX/Admin/HTPassword" "$ADMIN_HTPASSWORD"
fi
