#!/bin/bash

NUBIS_PROJECT=$(nubis-metadata NUBIS_PROJECT)
NUBIS_ENVIRONMENT=$(nubis-metadata NUBIS_ENVIRONMENT)

KV_PREFIX="<%= @project %>-$NUBIS_PROJECT/$NUBIS_ENVIRONMENT/traefik/config"

if [ "$NUBIS_ENVIRONMENT" != "" ]; then
  consulate kv set "$KV_PREFIX/EnvironmentName" "$NUBIS_ENVIRONMENT"
else
  consulate kv rm "$KV_PREFIX/EnvironmentName"
fi

NUBIS_MON_DOMAIN="<%= @project %>.$NUBIS_ENVIRONMENT.$NUBIS_REGION.$(nubis-metadata NUBIS_ACCOUNT).$(nubis-metadata NUBIS_DOMAIN)"
consulate kv set "$KV_PREFIX/MonDomain" "$NUBIS_MON_DOMAIN"

SECRET_FEDERATION_PASSWORD=$(nubis-secret get federation/password)
FEDERATION_PASSWORD=$(consulate kv get "$KV_PREFIX/Federation/Password")
if [ "$FEDERATION_PASSWORD" != "$SECRET_FEDERATION_PASSWORD" ]; then

  FEDERATION_HTPASSWORD=$(htpasswd -nb federation "$SECRET_FEDERATION_PASSWORD")

  consulate kv set "$KV_PREFIX/Federation/Password" "$SECRET_FEDERATION_PASSWORD"
  consulate kv set "$KV_PREFIX/Federation/HTPassword" "$FEDERATION_HTPASSWORD"
fi

SECRET_ADMIN_PASSWORD=$(nubis-secret get admin/password)
ADMIN_PASSWORD=$(consulate kv get "$KV_PREFIX/admin/Password")
if [ "$ADMIN_PASSWORD" != "$SECRET_ADMIN_PASSWORD" ]; then

  ADMIN_HTPASSWORD=$(htpasswd -nb admin "$SECRET_ADMIN_PASSWORD")

  consulate kv set "$KV_PREFIX/Admin/Password" "$SECRET_ADMIN_PASSWORD"
  consulate kv set "$KV_PREFIX/Admin/HTPassword" "$ADMIN_HTPASSWORD"
fi
