{
  "service": {
    "name": "<%= @traefik_project %>-traefik",
    "port": 8082,
    "tags": [
      "<%= @traefik_project %>"
    ],
    "check": {
       "http": "http://localhost:8082/health",
       "interval": "10s",
       "timeout": "1s"
    }
  }
}
