defaultEntryPoints = ["http","https"]
[entryPoints]
  [entryPoints.http]
    address = ":80"
    [entryPoints.http.redirect]
      entryPoint = "https"
  [entryPoints.https]
    address = ":443"
    [entryPoints.https.tls]
{{if exists "/config/Admin/HTPassword"}}
    [entryPoints.https.auth.basic]
      users = [
        "{{ getv "/config/Admin/HTPassword" }}"
      ]
{{ end }}

[web]
address = ":8082"

[consul]
endpoint = "127.0.0.1:8500"
watch = true
prefix = "<%= @traefik_project %>/traefik/{{ getv "/config/EnvironmentName" }}/config"

[acme]
# Handle when this isn't set

{{if exists "/config/Email/Destination" }}
email="{{ getv "/config/Email/Destination" }}"
{{else}}
email="nubis-team@mozilla.com"
{{end}}

storage = "<%= @traefik_project %>/traefik/{{ getv "/config/EnvironmentName" }}/acme"
entryPoint = "https"

# Disable for prod
# caServer = "https://acme-staging.api.letsencrypt.org/directory"

onDemand = true
[[acme.domains]]
   main = "{{ getv "/config/MonDomain" }}"

[file]
[backends]
  [backends.prometheus]
    [backends.prometheus.servers.server1]
    url = "http://127.0.0.1:9090"
  [backends.alertmanager]
    [backends.alertmanager.servers.server1]
    url = "http://127.0.0.1:9093"

[frontends]
  [frontends.prometheus]
  passHostHeader = true
  backend="prometheus"
    [frontends.prometheus.routes.main]
    rule="PathPrefix:/prometheus"
  [frontends.alertmanager]
  passHostHeader = true
  backend="alertmanager"
    [frontends.alertmanager.routes.main]
    rule="PathPrefix:/alertmanager"
